In [ ]:
#1a

In [ ]:
day = input("Please submit a day of the week:")

In [132]:
day = input("Please submit a day of the week:")
day = day.lower()
print(day)
if day == "Monday":
    print('Monday')
else:
    print('not monday')

Please submit a day of the week:Wednesday
wednesday
not monday

In [17]:
#1b

In [133]:
day = input("Please submit a day of the week:")
day = day.lower()
print(day)
if day ==  'Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday':
    print('Weekday')
else:
    print('Weekend')

Please submit a day of the week:Saturday
saturday
Weekend

In [ ]:
#1c

In [136]:
def weeklypaid(hours_worked, wage):
    wage = 10
    hours_worked = 40

In [138]:
if hours_worked>40:
    return total_pay = (wage*40)+((1.5*hwage)+(hours_worked-40)
else:
    return total_pay = wage*hours_worked

SyntaxError: invalid syntax (863675419.py, line 2)

In [ ]:
#2a

In [ ]:
int(i) = 5

In [32]:
i = 5

In [33]:
while i <= 15:
    print(i)
    i = i + 1 # same as i += 1

5
6
7
8
9
10
11
12
13
14
15

In [ ]:
int(i) = 0

In [141]:
i = 0

In [142]:
while i <= 100:
    print(i)
    i = i+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [24]:
i = 2

In [149]:
while i <= 1000000:
    print(i)
    i **= 2

In [ ]:
i = 5

In [150]:
while i <= 100:
    print(i)
    i = i+5

In [ ]:
#2b

In [ ]:
numb = input("please submit an integer here")

In [152]:
numb = input("please submit an integer here")

for i in range(1,11):
    print(i, 'x', '=', i*numb)

please submit an integer here7
1 x = 7
2 x = 77
3 x = 777
4 x = 7777
5 x = 77777
6 x = 777777
7 x = 7777777
8 x = 77777777
9 x = 777777777
10 x = 7777777777

In [ ]:
#2b

In [65]:
n = int(input("Enter number of rows:"))

Enter number of rows:9

In [155]:
for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

In [156]:
#2c
numb = int(input("enter a positive integer:"))
for i in range(numb,0,-1):
    print(i)

enter a positive integer:10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#2ci

n = int(input("Submit positive integer:"))

In [ ]:
#2ciii

In [ ]:
#3

In [160]:
for i in range(1,101):
    if i % 3 == 0:
        print('Fizz')
        continue
    if i % 5 == 0:
        print('Buzz')
        continue
    if i % 15 == 0:
        print('Fizzbuzz')
        continue
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#4

In [ ]:
numb = int(input('enter a positive integer: '))

In [ ]:
for i in range(1,numb+1):
    print(i, i**2, i**3)
    
cont = input('enter i')

In [ ]:
#5 
# create "while True:"
# created a prompt first and tested
# use if/elif statement
# add "would you like to continue prompt"

In [ ]:
#6
# create a dictionary, books = [{x1: 1, x2:2, etc},{x, x etc}, {xxx}]
#create prompt
#